Repository usdigitalresponse/grants-ingest, pull requests merged in 2023-09, with the labels that each got.

#311 Automatically calculate `YYYY.inc` release versions
  .github/next_release_version.bash
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: enhancement, github

#323 docs: update readme
  README.md
Labels: documentation

#335 Feat: Harden GHA workflows
  .github/workflows/aws-auth.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/code-scanning.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/publish-terraform-plan.yml
  .github/workflows/qa.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
  terraform/local.tfvars
  terraform/main.tf
  terraform/modules/DownloadFFISSpreadsheet/main.tf
  terraform/modules/DownloadFFISSpreadsheet/variables.tf
  terraform/modules/DownloadGrantsGovDB/main.tf
  terraform/modules/DownloadGrantsGovDB/variables.tf
  terraform/modules/EnqueueFFISDownload/main.tf
  terraform/modules/EnqueueFFISDownload/variables.tf
  terraform/modules/ExtractGrantsGovDBToXML/main.tf
  terraform/modules/ExtractGrantsGovDBToXML/variables.tf
  terraform/modules/PersistFFISData/main.tf
  terraform/modules/PersistFFISData/variables.tf
  terraform/modules/PersistGrantsGovXMLDB/main.tf
  terraform/modules/PersistGrantsGovXMLDB/variables.tf
  terraform/modules/PublishGrantEvents/main.tf
  terraform/modules/PublishGrantEvents/variables.tf
  terraform/modules/ReceiveFFISEmail/main.tf
  terraform/modules/ReceiveFFISEmail/variables.tf
  terraform/modules/SplitFFISSpreadsheet/main.tf
  terraform/modules/SplitFFISSpreadsheet/variables.tf
  terraform/modules/SplitGrantsGovXMLDB/main.tf
  terraform/modules/SplitGrantsGovXMLDB/variables.tf
  terraform/modules/taskfile_lambda_builder/main.tf
  terraform/modules/taskfile_lambda_builder/variables.tf
  terraform/production.tfvars
  terraform/staging.tfvars
  terraform/variables.tf
Labels: enhancement, terraform, github

#338 Add missing `pull-requests: write` permissions
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Labels: bug, github

#339 Fix error when removing nonexistent artifact
  .github/workflows/build.yml
  .github/workflows/code-scanning.yml
Labels: bug, github

#340 Fix: typo in command when uploading TF plan
  .github/workflows/terraform-plan.yml
Labels: bug, github

#341 Fix: Bugs during post-plan deployment steps
  .github/workflows/publish-terraform-plan.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
Labels: bug, github

#346 Set TF lock table name for Prod
  terraform/production.s3.tfbackend
Labels: bug, terraform, skip-changelog

#348 Remove env segment from SSM path prefix in Production
  terraform/production.tfvars
Labels: skip-changelog

#349 Revert "Build(deps): Bump cloudposse/iam-policy/aws in /terraform (#316)"
  terraform/modules/DownloadFFISSpreadsheet/main.tf
  terraform/modules/DownloadGrantsGovDB/main.tf
  terraform/modules/EnqueueFFISDownload/main.tf
  terraform/modules/ExtractGrantsGovDBToXML/main.tf
  terraform/modules/PersistFFISData/main.tf
  terraform/modules/PersistGrantsGovXMLDB/main.tf
  terraform/modules/ReceiveFFISEmail/main.tf
  terraform/modules/SplitFFISSpreadsheet/main.tf
  terraform/modules/SplitGrantsGovXMLDB/main.tf
Labels: bug, terraform

#347 Parallelize QA jobs
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/deploy-production.yml
  .github/workflows/qa.yml
  .github/workflows/terraform-plan.yml
Labels: github

#358 Exclude dependabot[bot] from special thanks in release notes
  .github/release-drafter.yml
Labels: github

#360 Standardize SQS name prefixes
  terraform/main.tf
  terraform/modules/PublishGrantEvents/main.tf
Labels: bug, terraform

#370 Approve production TF plans before deployment
  .github/workflows/build.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/qa.yml
  .github/workflows/terraform-apply.yml
Labels: skip-changelog, github

#373 Add `purge` commands to CLI tool
  cli/grants-ingest/ffisImport/cmd.go
  cli/grants-ingest/main.go
  cli/grants-ingest/purgeData/cmd.go
  cli/grants-ingest/purgeData/preparedDataBucket/cmd.go
  cli/grants-ingest/purgeData/preparedDataBucket/match.go
  cli/grants-ingest/purgeData/preparedDataTable/cmd.go
  cli/types/intFlags.go
Labels: go
